<div class="form-group">
    {{ form.id.label }}
    {{ form.id(class="form-control", placeholder="Enter id") }}
</div>
<div class="form-group">
    {{ form.name.label }}
    {{ form.name(class="form-control", placeholder="Enter name") }}
</div>
<div class="form-group">
    {{ form.unit.label }}
    {{ form.unit(class="form-control", placeholder="Enter unit") }}
</div>
<div class="form-group">
    {{ form.description.label }}
    {{ form.description(class="form-control", placeholder="Enter description") }}
</div>