{% extends "base.html" %}

{% block content %}
{{ super() }}
<h1>New Sensor</h1>
<div id="inputs">
    {% include "main/_sensor.html" %}
    <input id="create" type="button" class="btn btn-primary" value="Create">
</div>
<div id="output"></div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='sensor.js') }}"></script>
<script>

// create button
$("#create").on("click", function() {
    // gather all the data in the textboxes
    let data = {}
    $("#inputs :input[type=text]").each(function(i) {
        // fix empty strings (set null) and store in data object
        data[this.name] = this.value === "" ? null : this.value;
    });

    $.ajax({
        url: "/api/sensor",
        headers: {
            Authorization: "Bearer " + Cookies.get("api_token"),
        },
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function(result) {
            // redirect to new sensor site
            window.location.href = "/sensor/" + result["id"];
        },
        error: function(result) {
            $("#output").html(JSON.stringify(result));
        },
    });
});

</script>
{% endblock %}