{% extends "base.html" %}


{% block head %}
{{ super() }}
<script src="https://cdn.plot.ly/plotly-2.3.1.min.js"></script>
{% endblock %}


{% block content %}
{{ super() }}
<h1>Sensor</h1>
<div id="plot"></div>
<div id="timedelta_buttons"></div>
<table>
    <tr>
        <th>Plot layout</th>
        <th>Group datetime by</th>
    </tr>
    <tr>
        <td><div id="plot_layout_radio" class="form-check"></div></td>
        <td><div id="timeinterval_radio" class="form-check"></div></td>
    </tr>
</table>
<div id="sensor_table"></div>
<a href="{{ url_for('main.sensor_new') }}">New Sensor</a>
{% endblock %}


{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='sensor.js') }}"></script>
<script>

$.ajax({
    url: "/api/sensor",
    success: function(sensors) {

        $("#sensor_table").html(buildSensorTable(sensors));

        getReadings(sensors, 60*60*24, function(readings) {
            plot("plot", sensors, readings)
        })

        $("#timedelta_buttons").append(buildTimedeltaButtons("plot", sensors));

        var timer = updatePlot("plot", sensors);
    },
});

// create layout radio
for (const layout in Layout) {
    $("#plot_layout_radio").append(
        $("<div>").addClass("form-check").append(
            $("<input>").addClass("form-check-input plot-config").prop({
                type: "radio", name: "plot_layout", value: layout
            }),
            $("<label>").addClass("form-check-label").prop("for", layout)
                .html(layout)
        )
    )
}

// create timeinterval  radio
timeintervalMapper = {
    "Nothing": null,
    "5 Minutes": 60*5,
    "Hours": "H",
    "Days": "d",
    "Weeks": 60*60*24*7,
    "Months": "m",
    "Years": "Y",
}
for (const [grouper_label, value] of Object.entries(timeintervalMapper)) {
    $("#timeinterval_radio").append(
        $("<div>").addClass("form-check").append(
            $("<input>").addClass("form-check-input plot-config").prop({
                type: "radio", name: "plot_timeinterval", value: value
            }),
            $("<label>").addClass("form-check-label").prop("for", grouper_label)
                .html(grouper_label)
        )
    )
}

// set default radio from cookie
let cookie = getPlotCookie()
$("#plot_layout_radio :input[value='" + cookie.layout + "']").prop("checked", true);
$("#timeinterval_radio :input[value='" + cookie.timeinterval + "']").prop("checked", true)


// plot layout radio: click replot
$(".plot-config").on("click", function(event) {
    let config = parsePlotConfigs();
    setPlotCookieKey("layout", config.layout);
    setPlotCookieKey("timeinterval", config.timeinterval);
});

</script>
{% endblock %}