{% extends "base.html" %}

{% block head %}
{{ super() }}
<script src="https://cdn.plot.ly/plotly-2.3.1.min.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<h1>Edit Sensor</h1>
<div id="inputs">
    {% include "main/_sensor.html" %}
    <input id="change" type="button" class="btn btn-warning" value="Change">
    <input id="delete" type="button" class="btn btn-danger" value="DELETE">
</div>
<div id="output"></div>

<div id="plot"></div>
<div id="timedelta_buttons"></div>
{% endblock %}


{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='sensor.js') }}"></script>
<script>
// get id by pathname
let id = window.location.pathname.split("/").slice(-1)[0];

$.ajax({
    url: "/api/sensor",
    data: {id: [id]},
    headers: {
        Authorization: "Bearer " + Cookies.get("api_token"),
    },
    success: function(sensor) {
        // plot
        getReadingsPlot("plot", sensor, {days: 1});
        $("#timedelta_buttons").append(buildTimedeltaButtons("plot", sensor));
        var timer = updatePlot("plot", sensor);
    }
});

// change button
$("#change").on("click", function() {
    // gather all the data in the textboxes
    let data = {}
    $("#inputs :input[type=text]").each(function(i) {
        data[this.name] = this.value === "" ? null : this.value;
    });

    $.ajax({
        url: "/api/sensor/" + id,
        headers: {
            Authorization: "Bearer " + Cookies.get("api_token"),
        },
        method: "PUT",
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function(result) {
            $("#output").html(JSON.stringify(result));
        },
        error: function(result) {
            $("#output").html(JSON.stringify(result));
        },
    });
});

// delete button
$("#delete").on("click", function() {
    $.ajax({
        url: "/api/sensor/" + id,
        headers: {
            Authorization: "Bearer " + Cookies.get("api_token"),
        },
        method: "DELETE",
        success: function(result) {
            // redirect sensor
            window.location.href = "/sensor";
        },
        error: function(result) {
            $("#output").html(JSON.stringify(result));
        }
    });
});

</script>
{% endblock %}
