{% extends "base.html" %}

{% block head %}
{{ super() }}
<script src="https://cdn.plot.ly/plotly-2.3.1.min.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<h1>Edit Sensor</h1>
<div id="inputs">
    {# _sensor.html contains the form for name, unit and description inputs #}
    {% include "main/_sensor.html" %}
    <button id="changeButton" class="btn btn-warning">Change</button>
    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">DELETE</button>
</div>
<div id="output"></div>

<div id="plot"></div>
<div id="timedelta_buttons"></div>

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Sensor and its readings?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Do you really want to delete this sensor and all of its readings?<br>
                    This cannot be undone.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="deleteConfirmationButton" type="button" class="btn btn-danger" data-bs-dismiss="modal">DELETE</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='sensor.js') }}"></script>
<script>
// get id by pathname
let id = window.location.pathname.split("/").slice(-1)[0];

$.ajax({
    url: "/api/sensor",
    data: {id: [id]},
    headers: {
        Authorization: "Bearer " + Cookies.get("api_token"),
    },
    success: function(sensor) {
        // plot
        getReadingsPlot("plot", sensor, {days: 1});
        $("#timedelta_buttons").append(buildTimedeltaButtons("plot", sensor));
        var timer = updatePlot("plot", sensor);
    }
});

// change button
$("#changeButton").on("click", function() {
    // gather all the data in the textboxes
    let data = {}
    $("#inputs :input[type=text]").each(function(i) {
        data[this.name] = this.value === "" ? null : this.value;
    });

    $.ajax({
        url: "/api/sensor/" + id,
        headers: {
            Authorization: "Bearer " + Cookies.get("api_token"),
        },
        method: "PUT",
        contentType: "application/json",
        data: JSON.stringify(data),
        success: function(result) {
            $("#output").html(JSON.stringify(result));
        },
        error: function(result) {
            $("#output").html(JSON.stringify(result));
        },
    });
});

// delete button
$("#deleteConfirmationButton").on("click", function() {
    $.ajax({
        url: "/api/sensor/" + id,
        headers: {
            Authorization: "Bearer " + Cookies.get("api_token"),
        },
        method: "DELETE",
        success: function(result) {
            // redirect sensor
            window.location.href = "/sensor";
        },
        error: function(result) {
            $("#output").html(JSON.stringify(result));
        }
    });
});

</script>
{% endblock %}
