{% extends "base.html" %}


{% block head %}
{{ super() }}
<script src="https://cdn.plot.ly/plotly-2.3.1.min.js"></script>
{% endblock %}


{% block content %}
{{ super() }}
<h1>Sensor</h1>
<div id="plot"></div>
<div id="timedelta_buttons"></div>
<div id="sensor_table"></div>
<a href="/sensor/new">New Sensor</a>
{% endblock %}


{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='sensor.js') }}"></script>
<script>

$.ajax({
    url: "/api/sensor",
    headers: {
        Authorization: "Bearer " + Cookies.get("api_token"),
    },
    success: function(sensors) {

        $("#sensor_table").html(buildSensorTable(sensors));
        getReadingsPlot("plot", sensors, {days: 1});
        $("#timedelta_buttons").append(buildTimedeltaButtons("plot", sensors));
        var timer = updatePlot("plot", sensors);
    },
});

</script>
{% endblock %}